.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 117%;
  text-decoration: none;

  color: white;
}

.header__lang-link:hover {
  text-decoration: underline;
}
