.places {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 984px;
  margin: 0 auto;
  width: 100vw;
}

@media screen and (max-width: 1079px) {
  .places {
    max-width: calc(100vw - 96px);
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 100vw;
  }
}
