.lead {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 984px;
  padding: 0;
}

@media screen and (max-width: 1280px) {
  .lead {
    max-width: calc(100% - 296px);
  }
}

@media screen and (max-width: 1124px) {
  .lead {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 900px) {
  .lead {
    max-width: 100%;
  }
}
