.footer__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  width: 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: 691px) {
  .footer__container {
    flex-direction: column;
  }
}
