.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  color: #FFFFFF;
  margin: 56px 0 0;
  align-self: center;


}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin-top: 48px;
  }
}

@media screen and (max-width: 704px) {
  .lead__title {
    font-size: 88px;
  }
}

@media screen and (max-width: 640px) {
  .lead__title {
    font-size: 80px;
  }
}

@media screen and (max-width: 576px) {
  .lead__title {
    font-size: 72px;
  }
}

@media screen and (max-width: 512px) {
  .lead__title {
    font-size: 64px;
  }
}

@media screen and (max-width: 448px) {
  .lead__title {
    font-size: 56px;
  }
}

@media screen and (max-width: 391px) {
  .lead__title {
    font-size: 45px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 110%;
  }
}







