.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0;
}

.place__paragraph:last-of-type {
  margin-top: 26px;
}

.place__paragraph:first-of-type {
  margin-top: 0;
}
