.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114%;
  color: #FFFFFF;
  margin: 94px 0 24px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 850px) {
 .footer__copyright {
    margin-top: 90px;
  }
}

@media screen and (max-width: 691px) {
  .footer__copyright {
    margin-top: 48px;
    margin-bottom: 24px;
    line-height: 100%;
  }
}
