.lead__image {
  width: 100vw;
  max-width: 984px;
  margin: 64px 0 0;
  object-fit: cover;
  object-position: center;
  box-sizing: border-box;
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
    margin-top: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
  }
}
