.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
  margin-top: 40px;
  margin-bottom: 0;
  max-width: 690px;
}

@media screen and (max-width: 850px) {
  .intro__text {
    max-width: 720px;
  }
}



