.intro {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
  max-width: 984px;
}

@media screen and (max-width: 1079px) {
  .intro {
    max-width: calc(100vw - 96px);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: calc(100vw - 32px);
  }
}
