.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  color: #FFFFFF;
  margin: 0;
  transition: opacity 1s linear;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 550px) {
  .place__link {
    font-size: 11px;
  }
}

@media screen and (max-width: 425px) {
  .place__link {
    font-size: 18px;
  }
}
