.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 245px;
  margin-bottom: 0;
}

@media screen and (max-width: 1124px) {
  .cover__title {
    margin-top: 195px;
  }
}

@media screen and (max-width: 850px) {
  .cover__title {
    margin-top: 115px;
  }
}

@media screen and (max-width: 678px) {
  .cover__title {
    font-size: 64px;
    margin-top: 99px;
  }
}

@media screen and (max-width: 588px) {
  .cover__title {
    font-size: 56px;
    margin-top: 83px;
  }
}

@media screen and (max-width: 498px) {
  .cover__title {
    margin-top: 33px;
    font-size: 32px;
    line-height: 109%;
  }
}
