.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin-top: 0;
  margin-left: 0;
  text-decoration: none;
}

@media screen and (max-width: 530px) {
  .place__url-heading {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  .place__url-heading {
    font-size: 9px;
  }
}

@media screen and (max-width: 425px) {
  .place__url-heading {
    font-size: 12px;
  }
}
