.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 550px) {
  .place__url-heading {
    font-size: 11px;
  }
}

@media screen and (max-width: 425px) {
  .place__url-heading {
    font-size: 12px;
  }
}
