.place__website {
  padding-left: 0;
  margin: 0;
  list-style: none;
  grid-area: place__website;
  align-self: end;
}

@media screen and (max-width: 320px) {
  .place__website {
    margin: 0 16px;
  }
}
